/* don't change the layout here */
body,
html {
	margin: 0;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	line-height: 1.5;
	background-color: #f5f7fa;
}

.main-view-main-container {
	display: flex;
	width: 100vw; /* stare */
	height: 100vh; /* Full viewport height */
	margin: 0;
	padding: 0; /* Ensure no padding or margin */
}

.main-view-left-column {
	display: flex;
	margin: 0;
	padding: 0;
	max-width: 250px;
}

.main-view-right-column {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
}

.main-view-nav-class {
	width: 100%;
	padding: 0 2.29rem;
}

.main-view-content-container {
	display: flex;
	padding: 0 2.29rem;
	flex-direction: column;
	overflow: auto;
	max-height: 100vh;
}

.main-view-content-books {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 1000px) {
	.main-view-right-column {
		margin-left: 20px;
	}
}

@media (max-width: 900px) {
	.current-reading-panel {
		padding-left: 5px;
	}
}

@media (max-width: 600px) {
	.main-view-content-books {
		flex-direction: column;
	}
}
